.day {
  cursor: pointer;
  min-width: 100px;

  > img {
    width: 70px;
    height: 70px;
  }
  > p {
    padding: 0 10px;
    margin: 0;
  }
  &.active {
    background-color: white;
    color: black;
  }
}
